# =====================
# ENV / SECRETS
# =====================
.env
.env.*

# =====================
# FRONT-END
# =====================
node_modules/
dist/
build/
.vite/
.cache/

# =====================
# BACK-END C# / .NET
# =====================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# =====================
# DATABASE
# =====================
data/
*.db

# =====================
# WINDOWS
# =====================
Thumbs.db
ehthumbs.db
Desktop.ini

# =====================
# EDITORS
# =====================
.vscode/
.idea/

# =====================
# LOGS
# =====================
*.log
